<div class="container mt-5">
  <h1 class="display-4 text-center">Stupid Coaching</h1>
  <p class="text-center">Ask your coach anything:</p>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with url: '/answer', method: :get, local: true, class: 'd-flex' do %>
        <%= text_field_tag :question, nil, class: 'form-control me-2', placeholder: "Type your question..." %>
        <%= submit_tag "Ask", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
